*
{
    margin:0 auto;
}

.one
{
    color:blue;
    background-color: white;
   
}
.programs
{
background-color: #e7ecf0;
display: inline-block;
text-align: center;
width:300px;
height:250px;
margin:1em 1em 1em 1em;
padding: 0em 3em 0em 3em;
}

.programs>h1
{
color:blue;
}
.programs>p
{
color:black;
}

.move
{
    background-color:#92c21a;
    color: white;
}
.purp
{
background-color: #620e6e;
color: white;
width:300px;
height:250px;
text-align: center;
margin:1em 1em 1em 1em;
padding: 0em 3em 0em 3em;

display: inline-block;
}
.bl
{
color:white;
background-color:#4385c1 ;
width:300px;
height:250px;
text-align: center;
display: inline-block;
margin: 1em 1em 1em 1em;
padding: 0em 3em 0em 3em;

}

footer{
    color:#81858a;
    background-color: #34383c;
}
.headings
{
  color:white;  
}
.bruh
{
    color:#8ab6df;
}

.dis{
    display: inline;
}
.head{
    vertical-align: 25px;
}
.months
{
    color: green;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 90px;
    height: 80px;
    display: inline-block;
    text-align: center;
    margin: 1em 2em 1em 2em;
}
.oneo
{
    display: inline-block;
    vertical-align: 10px;
}
.two
{
    display: inline-block;
    vertical-align: 10px;

}

.months1
{
    color: green;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 90px;
    height: 80px;
    display: inline-block;
    text-align: center;
    margin: 1em 2em 1em 2em;
}
.fone
{
    display: inline-block;
    margin:1em 0em 1em 0em;
    padding:1em 1em 1em 1em;
}
.ftwo
{
    display: inline-block;
}

 #out img{
    width: 100%;
} 
#out
{
    margin-top: 0px;
    margin-bottom: 20em;
}

#text
{
    width:100%;
    position: relative;
    margin-top: -25%;
}
#text h1, #text h2, #text hr
{
    text-align: center;
    color:white;
    font-size: 2.5em;
} 
.head1{
    background-color: #4385C1;
    

}
.bottom{

    background-color: #053867;
    height: 30px;
    padding: 15px
}
.navbar{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}
.upperlist{
    list-style: none;
    float:left;
    padding: 10px;
}
h1,p{
color: white;
text-align: center;
}
#BOSTON{
    color:#92C0EA;
    text-align: center;
}
.btn{
    background-color:#4385C1;
    border: 1px solid white;
    color:white;
    padding:5px 10px 5px 10px;
    margin:15px;
    float: right;
    border-radius:5px;
    

}
.lowerlist{
    color:#4385C1;
    padding: 40px;
    margin:10px;
    display: inline
}
.btn1{
  padding:1em 5em 1em 5em;
   border-radius: 7px;  
   background-color: white;
   border: 2px solid blue;
   color: blue;
   margin: 20px 10px 30px 30px
}
.btn2{
    padding:1em 7em 1em 7em;
    border-radius: 7px;  
    border: 2px solid blue;
    background-color: white;
    color: blue;
    margin:20px 10px 20px 30px
}
.foot{
    list-style: none;
}